<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JocoFoodMenuService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@5.0.0/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <!--ANIMATE CSS-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Joco's Menu creator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage food inventory
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Rice">Rices</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Meats">Meats</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Grains">Grains</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Complements">Complements</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Beverages">Beverages</a>
                                @*<div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>*@
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MenuCreators" asp-action="Index">Create daily menus</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @{
        var className = (Context.Request.Path == "/" || Context.Request.Path == "/Home") ? "" : "container";
    }

    <div class="@className">
        <main role="main" class="pb-3 mt-4">
            @RenderBody()
        </main>
    </div>

    @{
        if (Context.Request.RouteValues.Values.FirstOrDefault().ToString() == "Home")
        {
            <footer style="background: linear-gradient(40deg, #ff6ec4, #7873f5) !important" class="text-center footer text-muted">
                    <span class="text-white">Joco's food service, inc. @DateTime.Now.Year</span>
            </footer>
        }
        else
        {
            <footer class="text-center container my-4">
                <hr />
                Joco's food service, inc. @DateTime.Now.Year
            </footer>
        }
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@5.0.0/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
